@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>

@if (Model.Errors.Any())
{
    <div class="alert alert-danger">
        @foreach (var item in Model.Errors)
        {
            <h3> @item </h3>
        }
    </div>
}

